<div class="container">

    <form >
    <div class="form-group">
    
        <label for='name'><h2>Name</h2></label><br>
          <input type="text"  place holder="name"  name="name"  required><br>
      </div>
      <div class="form-group">
          <label for='quote'><h2>Quote</h2></label><br>
            <textarea type='text' placeholder='quote'  name='quote' required></textarea><br>
      </div>
    
        <div class="form-group">
          <label for='date'><h2>Date</h2></label><br>
            <input type="date"  placeholder='date' name='date'  required><br>
        <br>
      </div>
        <button id="submit" class="btn btn-primary" type='submit'>POST</button>
    </form>
    </div>
    
